body {
    font-family: 'PT Serif', serif;
}

.partners img {
    width: 160px;
    margin-left: 25px;
    margin-right: 25px;
}

.support img {
    width: 128px;
    margin: 5px;
}

.black-bg {
    background-color: black;
}
